/* This is Tablet Responsive Query */
@media screen and (min-width: 426px) and (max-width: 992px) {
   nav {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
   }

   .banner-container {
      flex-direction: column-reverse;
      height: auto;
   }

   .banner-img img {
      width: 100%;

   }

   .banner-img {
      justify-content: center;
      padding: 50px;

   }

   .banner-description {
      padding-bottom: 50px;
   }

   /* banner end */

   /* online game section start */

   .online-game-container {
      grid-template-columns: repeat(1, 1fr);
      padding: 0px;
      padding-top: 120px;

   }

   .online-game-section {
      grid-template-columns: repeat(2, 1fr);
      gap: 0px;

   }

   .online-game img {
      margin-top: 30px;
   }

   /* instant game section start */


   /* instant game section end */



}




/* This is Mobile Part */
/* This is Mobile Responsive Query */
@media screen and (max-width: 425px) {
   nav {
      box-shadow: none;
      padding-top: 170px;
   }

   /* column shared style */

   .nav-container,
   .menus-container,
   .banner-container {
      flex-direction: column;
   }

   .menus-container {
      margin-top: 20px;
   }

   .menus-container .menus-title {
      padding-bottom: 30px;
   }

   .icon-style {
      margin-top: 80px;
      margin-bottom: 80px;

   }

   /* banner */

   .banner-container {
      flex-direction: column-reverse;
      margin-top: 250px;
      gap: 10px;
   }

   .banner-img img {
      width: 100%;
      padding-top: 20px;

   }

   .banner-img {
      justify-content: center;
      padding: 30px;
   }

   .banner-description {
      padding-bottom: 40px;
   }

   /* banner end */

   /* online game section start */

   .online-game-container {
      grid-template-columns: repeat(1, 1fr);
      padding: 0px;
      padding-top: 120px;
      align-items: center;
      justify-content: center;
      text-align: center;
   }

   .online-game-section {
      grid-template-columns: repeat(1, 1fr);
      gap: 0px;
   }

   .online-game-container p {
      width: 70%;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
   }

   .online-game img {
      margin-top: 30px;
   }

   /* online game section end */

   /* instant game section start */

   .instant-game-container {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      padding: 0px;
   }

   .instant-game-container h3 {
      text-align: center;
      width: 400px;
   }

   .instant-game-container p {
      width: 350px;
      text-align: center;
   }

   .instant-game-description {
      padding: 0px;
   }

   .instant-game-description p {
      align-items: center;
      margin-left: 10px;
   }

   .instant-img-01 {
      width: 200px;
      height: auto;

   }

   .instant-img-02 {
      width: 150px;
      height: auto;
      border: 5px solid white;
   }

   /* instant game section end */


   /* Action Game Section Start */

   .action-game-row-5 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-top: 300px;
    
    }
    
    .action-game-row-4 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    

   .action-game-container {
      padding-top: 30px;
   }

   .action-title {
      font-size: 16px;
   }

   .action-game {
      width: 100%;
   }


.footer-logo {
   width: 100%;
}

.footer-logo h1 {
   font-size: 30px;
   margin-left: 0;
   text-align: center;
}

.footer-container {
   height: auto;
   padding: 20px;
}

.footer-line {
   display: block;
   text-align: center;
}

.footer-line a {
   display: block;
   margin: 10px 0;
}

.font-icon {
   margin-top: 30px;
}

.our-facility a {
   padding-bottom: 0;
}

}


/* Action Game Section End */

